<div style="display: flexbox; align-content: center; justify-content: center;">
  <mat-card style="width: 500px; height: 250px; border-radius: 12px;">
    <div style=" background-color: #8F141B; height: 70px; align-items: center; display: flex; justify-content: center;">
      <img src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-p.png" alt="qr" style="max-width: 280px; max-height: 100%;">
    </div>
    <div style="background-color: aliceblue; position: absolute; top: 40%; left: 18%; transform: translate(-50%, -50%); width: 140px; height: 160px; border-radius: 12px; border-style: groove; border-color: hsl(0, 0%, 100%); display: flex; align-items: center; justify-content: center;">
      <img src="https://media.istockphoto.com/id/1200390634/es/foto/el-ni%C3%B1o-con-gafas-se-r%C3%ADe-aislado-sobre-un-fondo-azul.jpg?s=612x612&w=0&k=20&c=W9WYXboJhGoV4MD8wZ8brsd9ocKzgvpnQg6V7-wiIaE=" alt="foto" style="max-width: 90%; max-height: 90%; margin: 12px auto; display: block; background-color: aliceblue; height: 170px">
      <!-- <div style="text-align: center;">
        <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration-color: brown;">RH: O+</span>
      </div> -->
    </div>
    <span style="position: absolute; top: 73%; left: 5%; color: #8F141B; font-weight: bold;">G.S: O+</span>

  <mat-card-content style="display: flex; justify-content: flex-end; border-radius: 12px;">
    <div style="display: flex; flex-direction: column; text-align: left; width: 300px; height: 150px;">
      <span style="padding-top: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">KEVIN SAMBONI</span>
      <span style="padding-top: 5px;">ID: 123282722</span>
      <span style="padding-top: 5px">V.A CONTRATO DE PRESTACION DE SERVICIOS</span>
      <span style="padding-top: 5px">APOYO Y ASESORIA</span>
    </div>
  </mat-card-content>
  </mat-card>
</div>
<mat-card style="width: 500px; height: 250px; border-radius: 2px; margin-top: 100px; border-radius: 12px;">
  <div style=" background-color: #8F141B; height: 70px; align-items: center; display: flex; justify-content: center; padding-top: 5px;">
    <img src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-p.png" alt="logo">
  </div>
  <mat-card-content style="padding-top: 12px;">
    <div style="width: 180px; height: 150px; display: flex; align-items: center; justify-content: center; float: left;">
        <img src="https://www.freepnglogos.com/uploads/qr-code-png/qr-code-file-bangla-mobile-code-0.png" alt="qr" style="max-width: 160px; max-height: 100%;">
    </div>
    <div style="float: right; width: 250px; height: 150px;">
      <span style="max-width: 100%; word-wrap: break-word; font-weight: bold; font-style: italic; font-size: 10px;">
        Este carnet identifica al titular como Administrativo de la Universidad Surcolombiana, es personal e intrasferible y su unico responsable es el portador. En caso de perdida, instaure la denuncia respectiva      </span>
      <div style="text-align: center; padding-top: 16%;">
        <span style="font-weight: bold;">FIRMA</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
